* {
  margin: 0;
  padding: 0;

}

button {
  position: absolute;
  width: 200px;
  height: 50px;
  margin-left: 400px;

  font-weight: bold;

  border: 1px solid grey;
}

main { 
  width: 500px;
  margin: 0 auto;
}

.post {
  position: relative;
	width: 350px;
	height: 200px;
  margin-top: 20px;

	border: 1px solid grey;
}

.post__title {
  position: relative;
	width: 300px;
	height: 40px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px; 

  font-weight: bold;
  font-size: 16px;

	color: black;
	background: green;
}

.post__body {
  position: relative;
	width: 300px;
	height: 100px;
  margin: 0 auto;
  padding: 5px;
  background: yellow;
}

.comment {
  position: relative;
	width: 300px;
	height: 120px;
  padding: 5px;
	margin-top: 10px;
	border: 1px solid grey;
} 

